@use "../../Assets/sass/variables.scss" as *;

.header {
  background-color: #4ef03f;

  &__title {
    font-family: $primary-font-heading;
    color: hotpink;
  }
  &__description {
    color: orange;
  }
}
